<div id="whiteboard" class="margin30">
  <div fxLayout="column">
    <form [formGroup]="Form">
      <div>
        <div class="mat-input-infix">
          <input type="radio" name="mode" formControlName="mode" id="wbtext" value="wbtext" (change)="toggleAction($event)">
          <span class="labelrobota">Text</span>
          <input type="radio" name="mode" formControlName="mode" id="wbsketch" value="wbsketch" (change)="toggleAction($event)"> 
          <span class="labelrobota">Sketch</span>
        </div>

        <div onchange="ViTag.DisplayingWhiteboard(this);" class="mat-input-infix ">
          <input type="radio" name="direction" formControlName="direction" id="wbLeftPos" [(ngModel)]="directionValue" value="left"> 
          <span class="labelrobota">Left </span> 
          <input type="radio" name="direction" formControlName="direction" id="wbRightPos" [(ngModel)]="directionValue" value="right"> 
          <span class="labelrobota">Right</span>
        </div>
      </div>
      <div>
       
        <md-input-container>
          <input mdInput class="form-control" min="0" max="{{ maxDuration }}" step="1" placeholder="Duration" formControlName="duration" type="number"
          (ngModelChange)="onDurationChange($event)" [(ngModel)]='duration'>
        </md-input-container>
        <md-error  *ngIf="ismaxDurationReached" [ngStyle]="{'color': 'red'}" class="help-block" i18n>The action can only be upto {{restDurationValue}} seconds</md-error>
        <ng-container *ngIf="Form.controls['duration'].errors?.min; else valid">
          <md-error class="max-error-msg">* Duration should be atleast 1 sec.</md-error>
        </ng-container>
        <ng-template #valid>
          <ng-container *ngIf="Form.controls['duration'].errors?.number || !Form.get('duration').valid && submitted">
            <md-error class="max-error-msg">* Please enter valid duration in seconds</md-error>
          </ng-container>
        </ng-template>
      </div>

      <div>
        <label>
          <input type="checkbox" name="pauseOnshow" formControlName="pauseOnshow" [(ngModel)]="pauseOnshow">
          <span i18n class="labelrobota2">Pause on show</span>
        </label>
      </div>
      <div class="mat-input-infix">
        <div id="sketch" class=" hideEle toolwidth"></div>
      </div>
      <!-- <div *ngIf="validData" [ngStyle]="{'color': 'red'}" class="help-block max-error-msg" i18n>* Whiteboard Text/Sketch can't be empty</div> -->
     <div  fxLayoutAlign="end center">
        <button md-raised-button color="primary" class="spacebtn" (click)="onSave(Form.valid)" type="submit" i18n>Save</button>
        <button md-raised-button color="primary" (click)="cancel()" i18n>Cancel</button>
     
     </div>
      </form>
  </div>
</div>