.login-page {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
  
  .wrapper-xs {
    padding-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
   }
  
   .wrapper-sm {
    margin-left: 5px;
    margin-right: 5px;
   }
  
  .description {
    color: #CCDEE2;
    font-size: 16px;
    line-height: 1.57143rem;
  }
  
  .v-sap-big-img {
    height:50px;
    width:150px;
  }
  
  .v-sap-small-img-container {
    padding: 15px;
  }
  
  .form-container {
    background-color: white;
    margin: 0 auto;
    padding: 40px 65px;
    max-width: 400px;
    min-width: 150px;
    border-radius: 8px;
    width: 100%;
  }

  .form-container-sm {
    background-color: white;
    padding: 40px 65px;
    max-width: 400px;
    min-width: 150px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footer {
    background-color: transparent;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #CCDEE2;
    position: absolute;
    bottom: 1%;
  }
   
  .footer li a {
    color: #CCDEE2;
  }
  
  .margin-top {
    margin-top:20px;
  }
  
  .form-width {
    width:100%;
    padding: 8px 0 10px;
    font-size: 16px;
    line-height: 18px;
  }
   
  .form-title {
    margin-top: 0px;
    font-size: 1.9rem;
    line-height: 2.71429rem;
    font-weight: 100;
    color: #928484;
  } 
  
  .margin-bottom {
    margin-bottom: 20px;
  }
  
.mat-input-element {
  padding: 5px !important;
}
  