<div class="bg-image login-page">
  
    <div class="v-sap-small-img-container" fxHide.gt-xs fxShow.sm>
      <img src="assets/images/common/login/v-sap-big.png" alt="v-sap-big-img" class="v-sap-big-img">
    </div>
  
    <div class="" ngClass.gt-xs="wrapper-xs" ngClass.sm="wrapper-sm" fxLayout="row" fxLayout.xs="column">
  
      <div class="description" fxFlex="50%" fxHide fxShow.gt-sm>
        <div>
          <img src="assets/images/common/login/v-sap-big.png" alt="v-sap-big-img" class="v-sap-big-img">
        </div>
        <h1 i18n>Welcome</h1>
        <p>
          Visual Representation is an Effective media of communicating information to an end user and if used creatively, can become
          a powerful expressive tool. In this Product,Clients can upload and edit static,youtube,direct URL Videos by adding
          Annotations,Sketches, Questions,Hot spot,Whiteboard,Tags and Links which will provide additional information about
          the content in different forms.Product Provides the option for the user to have his own store where he can have his
          Videos.
        </p>
      </div>
  
      <div class="" fxFlex ngClass.gt-xs="form-container" ngClass.lt-sm="form-container-sm">
        <h1 class="form-title">Reset Password</h1>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
          <md-card-content>
            <md-input-container class="form-width">
              <input mdInput type="password" formControlName="password" placeholder="New Password">
            </md-input-container>
            <md-error *ngIf="!resetForm.get('password').valid && submitted" class="help-block" i18n>*Password is required</md-error>
            <br/>
            <md-input-container class="form-width">
              <input mdInput type="password" formControlName="confirmPwd" placeholder="Confirm Password">
            </md-input-container>
            <md-error class="help-block margin-bottom" *ngIf="resetForm.controls.confirmPwd.errors?.MatchPassword && submitted">Password is not matched</md-error>
            <md-error *ngIf="invalid" class="margin-bottom" class="help-block margin-bottom" i18n>{{ message }}</md-error>
            <div>
              <button md-raised-button class="form-width " color="primary" type="submit" i18n>Submit</button>
            </div>
            <div class="margin-top">
              <a href="javascript:void(0)" (click)="login()" i18n>login?</a>
            </div>
          </md-card-content>
        </form>
      </div>
  
    </div>
  
    <div class="footer">
      <ul>
        <li i18n fxLayoutGap="10px">
          <a href="aboutus.html" i18n>About Us</a>
          <span>|</span>
          <a href="contact.html" i18n>Contact</a>
          <span>|</span>
          <a href="privacypolicy.html" i18n>Privacy Policy</a>
          <span>|</span>
          <span>©</span> 2017 Excelsoft technologies Pvt Ltd. All rights reserved.
        </li>
      </ul>
    </div>
  </div>