<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<system.web>
		
		<compilation debug="true" targetFramework="4.0" />
		
		<httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="3600" />
	
	</system.web>
	
	<system.net>
		<mailSettings>
			<smtp>
				<network defaultCredentials="false" host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAJYKCU2HYQ72LDROQ" password="ApXU4f6HI/NWPfgmsIBydMmtzfnH4jzVLnOdUYNtnVqx" enableSsl="true" />
			</smtp>
		</mailSettings>
	
	</system.net>
	
	<connectionStrings>
		<add name="MongoConnectionString" connectionString="mongodb://192.168.1.229" />
	
	</connectionStrings>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppenderinfo" />
		</root>
		<appender name="LogFileAppenderinfo" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="C:\temp\visapLogin.txt" />
			<!--<file type="log4net.Util.PatternString" value="%property{LogFileName}.txt"/>-->
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5level %c %m%n" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="AdminDB" value="VisapAdminDB" />
		<add key="SecurityKey" value="yugadi2kyugadi2kyugadi2k" />
		<add key="crypt" value="yugadi2k" />
		<add key="VideoTokenType" value="Jwt" />
		<add key="EncryptType" value="aes" />
		<add key="videoFormat" value=".mp4" />
		<add key="captionFormat" value=".vtt" />
		
		<add key="videoRepository" value="\\192.168.1.229\Repository\VISAP\ViTagRepo\" />
		<add key="snapshotRepository" value="\\192.168.1.229\Repository\VISAP\SnapshotRepo\" />
		<add key="imageRepository" value="\\192.168.1.229\Repository\VISAP\ViTagImageRepo\" />
		<add key="captionRepository" value="\\192.168.1.229\Repository\VISAP\Videocaption\" />
		
		<add key="videoRepositoryURL" value="http://visapqa.excelindia.com/VISAP/visaptest/VideoRepo/" />
		<add key="snapshotRepositoryURL" value="http://visapqa.excelindia.com/VISAP/SnapshotRepo/" />
		<add key="imageRepositoryURL" value="http://visapqa.excelindia.com/VISAP/ViTagImageRepo/" />
		<add key="visapURL" value="http://visapqa.excelindia.com/visap/visaptest/gallery.html" />
		<add key="captionRepositoryURL" value="http://visapqa.excelindia.com/VISAP/visaptest/Videocaption/" />
		<add key="displayCarousel" value="1" />
		<add key="TokenExpiryTime" value="240" />
		<add key="TokenExpiryforResetPwd" value="5" />
		<add key="postingVidTmInterval" value="30" />
		
		<!--SMTP section Starts-->
		<!--<add key="networkUser" value=""/>
 		<add key="password" value=""/>-->
		<add key="fromAddress" value="dontreply@excelindia.com" />
		<add key="resetPwdURL" value="http://visapqa.excelindia.com/VISAP/visapworkspace/index.html#/resetPassword?t=" />
		<add key="forgotpasswordURL" value="http://visapqa.excelindia.com/visap/visapworkspace/index.html#/forgotpassword" />
		<add key="ngResetPwdURL" value="http://visapqa.excelindia.com/visap/visapng/reset-password?t=" />
		<!--SMTP section Ends-->
	
	
	</appSettings>
	<system.webServer>
		
		
		<handlers>
			
			<add name="WorkspaceHandler" path="workspace.do" type="ViSapWorkspace.Workspace, ViSapWorkspace" verb="*" />
			<add name="GroupHandler" path="group.do" type="ViSapWorkspace.Group, ViSapWorkspace" verb="*" />
			<add name="videoHandler" path="video.do" type="ViSapWorkspace.Videos, ViSapWorkspace" verb="*" />
			<add name="metadataHandler" path="metadata.do" type="ViSapWorkspace.Metadata, ViSapWorkspace" verb="*" />
			<add name="VideoSearchHandler" path="videosearch.do" type="ViSapWorkspace.SearchVideos, ViSapWorkspace" verb="*" />
			<add name="publishHandler" path="publish.do" type="ViSapWorkspace.Publish, ViSapWorkspace" verb="POST" />
			<add name="WSfileUploader" path="file.do" type="ViSapWorkspace.fileUploader, ViSapWorkspace" verb="POST" />
			<add name="WSimageHandler" path="image.do" type="ViSapWorkspace.ImageUploader, ViSapWorkspace" verb="POST" />
			<add name="configLoader" path="config.do" type="ViSapWorkspace.ReadConfig, ViSapWorkspace" verb="*" />
			<add name="searchCategoryHandler" path="category.do" type="ViSapWorkspace.CategorySearch, ViSapWorkspace" verb="*" />
			<add name="UserMangementHandler" path="users.do" type="ViSapWorkspace.UsersData, ViSapWorkspace" verb="*" />
			<add name="AuthHandler" path="auth.do" type="ViSapWorkspace.Authentication, ViSapWorkspace" verb="*" />
			<add name="searchHandler" path="search.do" type="ViSapworkspace.Search, ViSapworkspace" verb="*" />
			<add name="RoleHandler" path="roles.do" type="ViSapWorkspace.RoleData, ViSapWorkspace" verb="*" />
			<add name="logHandler" path="log.do" type="ViSapWorkspace.logger, ViSapWorkspace" verb="*" />
			<add name="assignHandler" path="assign.do" type="ViSapWorkspace.AssignVideo, ViSapWorkspace" verb="*" />
			<add name="ValidateTokenHandler" path="ValidateToken.do" type="ViSapWorkspace.ValidateToken, ViSapWorkspace" verb="*" />
			<add name="emailHandler" path="email.do" type="ViSapWorkspace.Email, ViSapWorkspace" verb="*" />
			<add name="resetHandler" path="reset.do" type="ViSapWorkspace.ResetPwd, ViSapWorkspace" verb="*" />
			<add name="ssoAuthHandler" path="ssoAuth.do" type="ViSapWorkspace.ssoAuth, ViSapWorkspace" verb="*" />
			<add name="questionResponseHandler" path="questresponse.do" type="ViSapWorkspace.QuestionResponse, ViSapWorkspace" verb="*" />
			
			<add name="testService" path="testdata.do" type="ViSapWorkspace.TestDataHandler, ViSapWorkspace" verb="POST" />
			<add name="tocService" path="tocdata.do" type="ViSapWorkspace.TocDataHandler, ViSapWorkspace" verb="POST" />
			<add name="whiteboardService" path="whiteboardData.do" type="ViSapWorkspace.WhiteboardDataHandler, ViSapWorkspace" verb="POST" />
			<add name="aelibTestService" path="aelibTestData.do" type="ViSapWorkspace.AelibTestDataHandler, ViSapWorkspace" verb="POST" />
			<add name="assignTestService" path="assignTestData.do" type="ViSapWorkspace.AssignTestService, ViSapWorkspace" verb="POST" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="X-Authorization,X-HTTP-Method-Override,UserID,videoId,isStage,ismyspacevideo,X-UserToken,workspaceID,X-Assign" />
              <add name="Access-Control-Allow-Methods" value='POST,GET,OPTIONS,PUT,DELETE' />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>

	