DataAccessLayer/bin/
quizService/bin/
quizService/obj/
UIProject/bin/
DataAccessLayer/obj/
UIProject/obj/
UnitTestVisap/bin/
UnitTestVisap/obj/
ViSapDAL/bin/
ViSapDAL/obj/
ViSapWorkspace/bin/
ViSapWorkspace/obj/
quizService/obj/
Security/bin/
Security/obj/
ssomock/mockssosvc/bin/
ssomock/mockssosvc/obj/
ssomock/ssomockservice/obj/
ssomock/ssomock/obj/
ssomock/ssomock/bin/
VisapInt/obj/
VisapInt/bin/
ReleaseEngineering/Build/
visapng/dist
visapng/node_modules