<div class="container">
<div>
    <div>
        <h1>ViSAP</h1>
    </div>
    <div class="login-container">
        <a href="javascript:void(0)" class="login" (click)="login()" i18n>Login</a>
    </div>
</div>

<div>
<md-card>
  <h5>
    <strong>About ViSAP</strong>
  </h5>
  <p>Video is considered mainly as one way flow of communication wherein the interaction aspect is missing. ViSAP is a web based
    tool using which instructor can build pedagogical videos through video enrichments produced by adding annotations, sketches,
    questions, hot spot, whiteboard, tags and links which will provide additional information about the content in different
    forms and can be added with ease. It also gives instructor to have its own video store where enriched videos can be published
    for end user.</p>

  <h5>
    <strong>Visualization</strong>
  </h5>
  <p>Synchronized enrichments – Tool facilitates user to add enrichments which can be synchronized. Interactive enrichments
    – Option to add an interactive enrichment at a certain timestamp is given to user. </p>

  <h5>
    <strong>Collaboration</strong>
  </h5>
  <p>Multiple instructors can collaborate and create a single video with enrichment.</p>

  <h5>
    <strong>Video Snippet Merging</strong>
  </h5>
  <p>Snippets from different videos can be clipped and merged together to form a new video.</p>

  <h5>
    <strong>Assessments</strong>
  </h5>
  <p>ViSAP can include assessments support by providing templates for various question types.</p>

  <h5>
    <strong>Reusable Content Repository</strong>
  </h5>

  <p>ViSAP comes with a video repository where all video assets can be uploaded and published for future reference. This ensures
    a centralized repository of enriched videos and also facilitates easy discovery and reusability. Apart from this, the
    repository includes the standard features like categorizing each video for easy search.</p>

  <h5>
    <strong>About Company</strong>
  </h5>

  <p>Excelsoft provides innovative technology based solutions catering to the needs of educational publishers, universities,
    schools, government and corporate. With in-depth eLearning domain experience and a strong focus on pedagogy and learning
    design our goal is to create compelling learning experiences. We've managed to make a positive impact to the lives of
    over 25 million users worldwide through our innovative products and solutions.
    <a href="http://www.excelsoftcorp.com/" target="_blank">http://www.excelsoftcorp.com/</a>
  </p>
</md-card>
</div>
</div>   