<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
	<appSettings>
 		
	<add key="videoId" value="0b5694a697cc4b6487da367f24af574e"/>
	<add key="cid" value="2" />
	<add key="launchURL" value="http://visapdemo.excelindia.com/visapint/launch.aspx" />
	
 	</appSettings>

  <system.webServer>
    <handlers>
      <add name="ValidateTokenHandler" path="validate.do" type="ssomock.svc.Validate, ssomock" verb="*" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>