@charset "utf-8"; 
@import url(fonts.css); /* css for Login Page --- Begin*/
/* CSS Document */

.bg-login {
	   background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
}
.login-main {
	width: 700px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.logo-big {
	margin-bottom: 50px;
    margin-left: 100px;
}
.login-text {
	float: left;
	color: #fff;
	text-shadow: 2px 2px #000c1a;
	margin-bottom:20px;
	margin-left: 100px;
}
.login-box {
	background-color: #fff;
	float: left;
	width: 400px;
	margin-left: 40px;

}
.logintext-big {
	color: #f58220;
	font-size: 30px;
	font-family: "open_sanslight";
	
}
.login-fields {
	padding:40px;
		overflow:hidden;}
		.btn-login {
				border-color: #e6791d !important;

	
	
	float:right;
	background-color: #de761d !important;
	color:#fff;
	font-size:14px;
	font-family: "open_sanssemibold";}
	
.err-msg
{
    font-size:13px;
    color: red;
    margin-top:-6px;
}
