/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;

}
/*-----start-wrap----*/
.wrap{
	width:80%;
	margin:5 auto;
}
/*---start-header----*/
.header{
	background:  repeat-x #B5B5B7;
	padding:10px;
}

.logo{
	float:left;
	padding-top: 8px;
}
.top-menu{
	float:right;
	width: 71%;
	padding-top: 6px;
}
.top-nav{
	float:left;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	 font-family: 'gandhi_sansregular';
	color: #000;
	text-transform: uppercase;
	padding: 16px 22px;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav ul li a:hover{
	color:#fff;
}
.searchview{
	float: left;
	width: 60%;
	padding-top: 0.3em;
}
.searchview input[type="text"]{

  border: medium none;
    color: #888888;
    float: left;
    font-family: 'gandhi_sansregular';
    outline: medium none;
    padding: 10px;
    width: 64%;
    border-radius: 5px;
    margin: 0 -50px 0 -320px;
}
.searchview input[type="submit"]{
	 background: url("../../demo/images/search-icon.png") no-repeat scroll 46% 49% #000000;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'gandhi_sansregular';
    outline: medium none;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    width: 50px;
    margin: -1px 0px 0px 0px;
}
.searchview input[type="submit"]:hover{
	color:#888;
}
/*---album-rating-----*/
.rate, .rate b, .rate a {
	 width: 80%;
	 height: 20px;
	 overflow: hidden;
	 background: url(../images/star.gif);
}
.rate{
	margin:10px 0;
}
.rate b {
	 float: left;
	 margin-bottom: -100%;
}
.rate a {
	 float: right;
	 margin-left: -80px;
	 text-indent: -1000%;
}
.rate a:hover {
 	background-color:#888;
}
/*---start-main-content----*/
.main-content {
	padding-bottom:40px;
}
/*---start-main-content----*/
.left-sidebar{
float: left;
overflow:auto;
top:5%;
}
.sidebar-box h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 10px 10px 0;
	display: block;
	border: 1px solid #F1F0F6;
	font-size: 0.875em;
	border-top: none;
	border-left: none;
	border-right: none;
	line-height: 1.5em;
}
.sidebar-box h2{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 10px 10px 0;
	display: block;
	font-size: 1em;
}
.sidebar-box ul li{
	display:block;
	padding:5px 0;
	font-family: 'gandhi_sansregular';
	color: #888;
	cursor:pointer;
}
.sidebar-box input[type="button"]{
	padding: 15px 20px;
	background: #000;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	font-family: 'gandhi_sansregular';
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
	display: block;
	width: 100%;
}
.sidebar-box input[type="button"]:hover{
	color:#888;
}
.sidebar-box ul {
	padding: 10px 0 10px 22px;
}
.sidebar-box p{
	color:#888;
	font-family: 'gandhi_sansregular';
	font-size:0.875em;
	line-height:1.5em;
	padding: 10px 5px;
}
/*---start-type-videos----*/
.type-videos ul li{
	display:block;
 
	
}
.type-videos ul li a:before{
	
	padding: 0px 8px 0px 5px;
	vertical-align: sub;
}
.type-videos ul li a{
	color: #444;
	font-family: 'gandhi_sansregular';
	font-size: 0.675em;
	line-height: 22px;
	padding: 5px;
	display: block;
	background: #F1F0F6;
	margin: 1px 0;
	border-bottom: 1px solid rgba(85, 85, 85, 0.05);
	border-left: 1px solid rgba(85, 85, 85, 0.05);
	border-top: 1px solid rgba(85, 85, 85, 0.05);
	border-right: 1px solid rgba(85, 85, 85, 0.05);
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-align:left;
}
.type-videos ul li img{
	vertical-align:middle;
}
.type-videos ul li a:hover{
	color: #888;
	background: #E6E6E6;
}
.type-videos h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	border: 1px solid #F1F0F6;
	font-size: 1em;
	border-left:none;
	border-right: none;
	border-bottom:none;
}
/*-----right-content-----*/
.right-content{
	padding:0 18px;
	width: 40%;
	float: right;
}
.content-grid{
	width: 23.294%;
	float: left;
	text-align: center;
	border: 1px solid rgba(235, 235, 235, 0.53);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
	margin-right:2%;
	margin-bottom:2%;
}
.last-grid{
	margin-right:0px;
}
.content-grid img{
	display:block;
}
.content-grid h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 0;
	display: block;
	line-height: 1.5em;
	font-size: 0.875em;
}
.content-grid ul li{
	display:inline-block;
}
.content-grid img{
	display:block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.content-grid:hover  img{
	-webkit-filter: grayscale(100%);
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.content-grid ul li a{
	padding:0 5px;
	display:block;
}
.button{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	display: block;
	margin: 10px 0 0 0;
	font-size: 0.875em;
}
.button:hover{
	color:#888;
}
/*---top-social-icons-----*/
.social-icons {
 float: right;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display:block;
	text-indent: -9999px;
	background: transparent url(../../demo/images/social-icons.png);
	
}
.contact-info1 {
	font-family: Montserrat;
	font-weight: 700;
	color: #eee;
}
.social-icons li:first-child {
	border-left: 1px solid rgba(231, 231, 231, 0.73);
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.social-icons li {
	float: left;
	width: 40px;
	height: 40px;
	border-right: 1px solid rgba(231, 231, 231, 0.73);
	background: none;
	padding: 0px;
	margin: 0;
}
.social-icons a.facebook:hover {
	background-position: 0px bottom;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url(../../demo/images/social-icons.png);
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.twitter:hover {
	background-position: -40px bottom;
}
.social-icons a.googleplus {
	background-position: -440px top;
}
.social-icons a.googleplus:hover {
	background-position: -440px bottom;
}
.social-icons a.pinterest {
	background-position: -480px top;
}
.social-icons a.pinterest:hover {
	background-position: -480px bottom;
}
.social-icons a.dribbble {
	background-position: -160px top;
}
.social-icons a.dribbble:hover {
	background-position: -160px bottom;
}
.social-iconst a.dribbble:hover {
	background-position: -160px bottom;
}	
.social-icons a.vimeo {
	background-position: -120px top;
}
.social-icons a.vimeo:hover {
	background-position: -120px bottom;
}
.right-content-heading-left{
	float:left;
	padding: 11px 0;
}
.right-content-heading {
	border-bottom: 1px solid #F1F0F6;
	margin-bottom: 20px;
}
.right-content-heading-right{
	float:right;
}
.right-content-heading-left h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	display: block;
}
/*----start-pagenation-----*/
.pagenation{
	float:right;
}
.pagenation ul li{
	display:inline-block;
}
.pagenation ul li a{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	display: block;
	font-size: 0.875em;
}
.pagenation ul li a:hover{
	color: #888;
}
.pagenation ul li:last-child{
	padding-left:1em;
}
/*---start-copyright-----*/
.copy-right{
	padding:1em 0;
	background:#B5B5B7;
	text-align:center;	
}
.copy-right p{
	background: #B5B5B7;
	color: #000;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	font-size: 0.875em;
}
.copy-right p a{
	background: #B5B5B7;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #000;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	font-size: 1em;
}
.copy-right p a:hover{
	color:#ffffff;
}
/*---sigle-page----*/
/*---single-page-----*/
.title ul li{
	display:inline-block;
}
.title h3,.title h4{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.title h4{
	font-size:1em;
}
.title ul{
	padding-bottom:10px;
}
.title ul li a{
	color:rgb(155, 155, 155);
	font-family: 'gandhi_sansregular';
	font-size:0.9em;
	padding: 0px 3px;
}
.title ul li img{
	vertical-align:middle;
	margin:0px 3px;
}
.title ul li a:hover{
	color:#888;
}
.video-details p,.video-details span{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.video-details p{
	padding: 0 0 7px 0px;
}
.video-details ul{
	padding:10px 0px;
}
.video-details p a{
	color:#888;
	font-family: 'gandhi_sansregular';
}
.tags li a{
	font-size: 0.9em;
	color: #888;
	font-family: 'gandhi_sansregular';
}
.tags ul li{
	display:inline-block;
}
.tags h3{
	color: rgb(155, 155, 155);
	font-family: 'gandhi_sansregular';
	font-size: 0.9em;
	text-transform:uppercase;
}
.other-links ul li{
	line-height:1.8em;
}
.related-videos h6{
	font-size:1em;
	font-family: 'gandhi_sansregular';
	padding-top: 4px;
	padding-bottom: 4px;
	color:rgb(155, 155, 155);
	padding: 15px 0px 10px 0px;
	border-bottom: 1px dashed rgb(201, 201, 201);
}
.video-inner span{
	position: absolute;
	right: -10px;
	bottom: 15px;
	background: rgba(58, 58, 58, 0.61);
	padding: 7px 20px;
	font-family: 'gandhi_sansregular';
	color: #fff;
}
.viwes {
	padding: 11px 0px 0 0;
}	
.video-inner img{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgb(228, 228, 228);
}
.video-inner{
	position:relative;
	width: 97.3%;
}
.shareon {
	width:100px;
	border:none;
}
/*----share-artical----*/
.share-artical h3{
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 30px;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding: 14px 0;
	margin-top: 15px;
}
.share-artical ul li{
	display:inline-block;
	padding-right:10px;
}
.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
}
.share-artical ul li a:hover{
	color:#000;
}
/*---comment-box----*/
.table-form{
	width:100%;
}
.table-form form input[type="text"]{
	border: 1px solid rgba(192, 192, 192, 0.22);
	outline: none;
	padding: 8px;
	margin-top: 23px;
	color:#888;
	overflow: hidden;
	width: 40%;
	display: block;
	font-family: 'gandhi_sansregular';
}
.table-form textarea{
	font-family: 'gandhi_sansregular';
	padding: 8px;
	margin-top: 25px;
	outline:none;
	color: #888;
	border: 1px solid rgba(192, 192, 192, 0.22);
	width:70%;
	height:100px;
	resize: none;
}
.table-form a{
	font: 400 15px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	float: left;
	margin-top: 10px;
	display: block;
	font-family: 'gandhi_sansregular';
}
.table-form a:hover{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.artical-commentbox h3{
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 30px;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding-top: 14px;
	margin-top: 15px;
	}
/*---start-contact----*/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 0% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding: 0 1.5%;
}
.span_1_of_3 {
	width: 29.2%;
	padding: 0 1.5%;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 1.2em;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding: 14px 0;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #888;
	padding-bottom:5px;
	font-family: 'gandhi_sansregular';
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.22);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	font: 400 15px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	float: left;
	margin-top: 10px;
	display: block;
	font-family: 'gandhi_sansregular';
	cursor:pointer;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-form input[type="submit"]:hover{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.contact-form input[type="submit"]:active{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.company_address p{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----responsive-design----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 77%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:100%;
	}
	.right-content {
		width: 76%;
	}
	.top-menu {
		width: 70%;
	}
	.content-grid {
		width: 23.28%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 76%;
	}
	.top-menu {
		width: 75%;
	}
	.content-grid {
		width: 23.2%;
	}
	.top-nav ul li a {
		padding: 16px 13px;
	}
	.top-nav {
		width: 56%;
	}
	.searchview {
		width: 44%;
	}
	.searchview input[type="text"] {
		width: 76.5%;
	}
	.type-videos ul li a {
		padding: 10px 10px 2px 10px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 76%;
		padding:0px 10px;
	}
	.top-menu {
		width: 75%;
	}
	.content-grid {
		width: 23%;
	}
	.top-nav ul li a {
		padding: 10px 5px;
	}
	.top-nav {
		width: 66%;
		margin-top: 8px;
	}
	.searchview {
		width: 33%;
	}
	.searchview input[type="text"] {
		width: 57.5%;
	}
	.type-videos ul li a {
		padding: 10px 10px 2px 10px;
	}
	.type-videos ul li:nth-child(1),.type-videos ul li:nth-child(2),.type-videos ul li:nth-child(3),.type-videos ul li:nth-child(4){
		display:none;
	}
}


#carousel {
	margin: 0 0 30px 0;
	width: 735px;
	position:relative;
}
#carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
/* Polaroid background image put here */
/* Need to set the width and height of the polaroid frame */
#carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width: 232px;
	height: 178px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	background: transparent url('images/carousel_polaroid.png') no-repeat 0 0;
	position:relative;
}

/* Position the image to fit into the polaroid frame */
/* We use margin-top to bump it down */
#carousel li img {
	width:201px;
	height:127px;
	margin-top:14px;
}

/* We put the glare background in here */
/* We make it a block element and absolute position */
/* z-index to make sure it appear on top of the image */
#carousel li a {
	width:201px;
	height:127px;
	position:absolute;
	display:block;
	z-index:2;
	top:14px;
	left:16px;
	background: transparent url('images/carousel_shine.png') no-repeat 0 0;
	text-indent:-999em;
}			

.clearfix {
	float: none;
	clear: both;
}
/* Skin the button with carousel control sprite*/
/* Make it position absolute to move it easily */
#carousel .prev, #carousel .next {
	margin-left: 10px;
	width:15px;
	height:21px;			
	display:block;				
	text-indent:-999em;
	background: transparent url('images/carousel_control.png') no-repeat 0 0;
	position:absolute;
	top:70px;				
}
/* Individual setting for previous button */
#carousel .prev {
	background-position:0 0;
	left:-30px;
}
	#carousel .prev:hover {
		left:-31px;
	}			
/* Individual setting for next button */
#carousel .next {
	background-position: -18px 0;
	right:-20px;
}
	#carousel .next:hover {
		right:-21px;
	}				
#carousel .pager {
	margin:0 auto;
	text-align: center;
}
/* Style the pagination button with dot */
/* Same as prev and next button, we use the same css sprite */
#carousel .pager a {
	margin: 0 5px 0 0;
	text-decoration: none;
	display:inline-block;
	width:8px;
	height:8px;
	background: transparent url('images/carousel_control.png') no-repeat -2px -32px;
	text-indent:-999em;
}
#carousel .pager a.selected {
	text-decoration: underline;
	background: transparent url('images/carousel_control.png') no-repeat -12px -32px;				
}


 .divAnnotate {  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha'(Opacity=0.24); 
				 -moz-border-radius: 28px;
				 -webkit-border-radius: 28px; 
				 color: #ffffff; 
				 font-family:Arial;
				 font-size:12px;
				 padding:15px; 
				 border-radius: 28px;
				 position: absolute; 
				 top:10px;
				 width:200px;
				 z-index:2147483640; 
				 float:right;
				 background:#616161;
				 background:rgba(0,0,0,0.5);
				 display: none;
				 overflow-y:auto;
 }
 
 .imgOverlay { position: absolute; top:0px; left:20%; z-index:2147483640; display:inline-block; float:left; }
 
 
#tags a {
    color: #333333;
    text-decoration: none;
}


 
.lfttags a {
    color: #333333;
    text-decoration: none;
}

.lfttags  {
   float:left;
  width : 100px;
}

.playcontainer {
   display: inline-flex;
   
}

.defaultcursor
{
    cursor:default;
}

.logout { float:right;  }

.aLogout:link { color:#fff; text-decoration:underline;font-size:12px; margin: 0px 0px 0px 15px}
.aLogout:hover { color:red; text-decoration:underline;font-size:12px; margin: 0px 0px 0px 15px}


.uname { color:#000000;font-family:Arial;font-size:13px; }




     .viStyle {
                 position:relative;
             }
             .imgOverlay {
                 position: absolute;
                 top: 0px;
                 left: 0px;
                 z-index: 2147483640;
                 display: inline-block;
                 float: right;
             }

             #imgOverlay {
                 display: none;
             }

             .divAnnotate {
                 -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha'(Opacity=0.24);
                 -moz-border-radius: 28px;
                 -webkit-border-radius: 28px;
                 color: #ffffff;
                 font-family: Arial;
                 font-size: 12px;
                 padding: 15px;
                 border-radius: 28px;
                 position: absolute;
                 top: 10px;
                 width: 200px;
                 z-index: 2147483640;
                 float: right;
                 background: #616161;
                 background: rgba(0,0,0,0.5);
                 display: none;
                 overflow-y: auto;
             }

 .Novideo
 {
font-family: arial,sans-serif;
font-size: 17px;
color: #888;
font-style:normal;
 }
 
  .timevalues {
	font-family: arial,sans-serif;
    font-size  : 10px;
    color: #fff;
    margin:5px;
}

.divMsg, .divPass, .divFail {
	font-family: courier;
	font-size: 16px;
	margin: 50px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
}

.divPass {
	color: green;
}

.divFail {
	color: red;
}


/*scrollbar css*/
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #2F81B1; 
}