<buildNumberSection>
  <!--Version related Start-->
  <!-- To show Build/Version number -->
  <add key="BuildNumber" value="V2015.2.296.0"/>
  <!--This is the number of digits to be matched for build verification. If this number is 0 no build number verification will take place-->
  <add key="BuildNumberVerificationDigitCount" value="3"/>
  <!-- Whether build number display is enabled or not. it should be lowercase "yes" to enable the build number display -->
  <add key="EnableBuildNumberDisplay" value="yes"/>
  <!--Version related Stop-->
</buildNumberSection>








