<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--TODO: requestValidationMode attribute should not be used-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://192.168.1.229" />
  </connectionStrings>
  <log4net>
    <root>     
  	  <level value="ALL" />
      <appender-ref ref="LogFileAppenderinfo" />  	
    </root>
    <appender name="LogFileAppenderinfo" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\temp\visapLog.txt" />
      <!--<file type="log4net.Util.PatternString" value="%property{LogFileName}.txt"/>-->
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5level %c %m%n" />
      </layout>  	
    </appender>  
  </log4net>
 
  <appSettings>
       
   	<add key="TokenExpiryTime" value="5"/>
	<add key="UserValidator" value="ViTag.svc.UserValidator, ViTag"/>
  	<add key="videoFormat" value=".mp4"/>
    <add key="UserTokenValidatorEndpoint" value="http://visapdemo.excelindia.com/VISAP/visapworkspace/ValidateToken.do" />
	<add key="VideoTokenType" value="Jwt"/>
  	<add key="EncryptType" value="aes"/>
  	<add key="crypt" value="yugadi2k" />
  	<add key="SecurityKey" value="yugadi2kyugadi2kyugadi2k"/>
	
  	</appSettings>
   
	
	<system.webServer>
		<modules>
            <add name="SecurityValidator" type="Excel.Visap.Security.SecurityValidator" />
		</modules>
		
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		
    <handlers>
    	 <add name="TokenHandler" path="token.do" type="ViTag.svc.TokenHandler, ViTag" verb="*" />
    </handlers>
		
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering> 
    </security>
	
  </system.webServer>

</configuration>