<!--The content below is only a placeholder and can be replaced.-->

<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div class='headertitle' fxFill i18n>
    {{ isEditMode ? 'Edit Video Properties' : 'Import Video'}}
  </div>
  <div>
    <md-icon class="md-icon closeBtn" (click)="cancel()" i18n>close</md-icon>
  </div>
</div>
<form [formGroup]="Form">
  <div class="form-container">
    <block-ui>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Title" formControlName="title">
      </md-input-container>

      <div *ngIf="Form.controls['title'].errors?.maxlength; else vidTitle">
        <md-error class="max-error-msg">Maximum characters 255 is allowed.</md-error>
      </div>

      
        <md-error  #vidTitle *ngIf="!Form.get('title').valid && submitted" [ngStyle]="{'color': 'red'}" class="help-block" i18n>*Please Enter title</md-error>
     

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Description" formControlName="desc">
      </md-input-container>
      <md-error *ngIf="!Form.get('desc').valid && submitted" [ngStyle]="{'color': 'red'}" class="help-block" i18n>*Please Enter Description</md-error>
      <div class="category">
        <tag-input [ngModel]="newCategoryList" (onAdd)="onCategoryAdded($event)" addOnBlur="true" (onRemove)="onCategoryRemoved($event)"
          [placeholder]="'+ Add Category'" [secondaryPlaceholder]="'Enter a new category'" formControlName="category">
          <tag-input-dropdown [autocompleteItems]="categorylist" [appendToBody]="false">
          </tag-input-dropdown>
        </tag-input>
      </div>
      <md-tab-group *ngIf="!isEditMode" (selectedIndexChange)="onTabChange()">
        <md-tab fxLayout="row" label="Static Video">
          <div fxLayout="row">
            <button type="button" fxLayout="row" md-raised-button class="videoFile button-main" (click)="vidFile.click()">Add a video</button>
            <input hidden type="file" #vidFile (change)="onVidFileChange($event)" onclick="this.value = null"/>
            <label class="fileName">{{ vidFileName }}</label>
          </div>
          <label class="txt" i18n>Choose MP4 files</label>
          <div fxLayout="row">
            <button type="button" fxLayout="row" md-raised-button class="videoFile button-main" (click)="captionFile.click()">Add Caption</button>
            <input hidden type="file" #captionFile (change)="onCapFileChange($event)" onclick="this.value = null"/>
            <label class="fileName">{{ capFileName }}</label>
          </div>
          <label class="txt" i18n>Choose WebVTT format files</label>
        </md-tab>
        <md-tab label="Youtube Video">
          <md-input-container fxLayout="row" class="example-full-width ytUrl">
            <input mdInput placeholder="URL" #ytVideoID>
            <br/>
          </md-input-container>
        </md-tab>
        <md-tab label="DirectURL">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="URL(MP4,WEBM,OGG)" #urlVideoID>
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Enter Direct Caption URL(vtt)" #captionUrl>
          </md-input-container>
          <div fxLayout="row">
              <button type="button" fxLayout="row" md-raised-button class="button-main" (click)="dirUrlCcFile.click()" i18n>Add Caption</button>
              <input hidden type="file" #dirUrlCcFile (change)="onCapDirFileChange($event)" onclick="this.value = null"/>
              <label class="dirUrlCcFileName">{{ capDirFileName }}</label>
            </div>
          <label class="txt" i18n>Choose WebVTT format files</label>
        </md-tab>
      </md-tab-group>
      <md-dialog-actions fxLayoutAlign="end">
        <button md-raised-button class="full-width-input saveBtn" color="primary" (click)="isEditMode?updateEditedTittleorDesc(Form.value):upload(Form.value)"
          i18n>{{ isEditMode ? 'Update' : 'Import'}}</button>
        <button md-raised-button class="full-width-input cancelBtn" color="primary" (click)="cancel()" i18n>Cancel</button>
      </md-dialog-actions>
      <div #tempIframe class='hideEle'></div>
    </block-ui>
  </div>
</form>