 

 
 <div ng-init="loadGroup()">
 
<div ng-include src="'views/groupheader.html'"></div>
<!--/Submenu start-->
<div class=" bg-submenu">
  <div id='searchcontainer' class="container">
    <div class="row">
      <div class="col-md-6">
        <table style="width: 100%; border-spacing: 0; border: 0; padding: 0;" class="search-main">
          <tr>
            <td class="viewby"><span ng-i18next="common.searchLabel"></span> :</td>
            <td style="width:100%"> 

              <input type="text"  ng-model="serach" class="form-control" id="serach" ng-i18next="[placeholder]group.groupName;[title]group.title" ng-keyup="SearchGroup()" > </input>
              
           </td>
            <td style="width:50px;"><button type="submit" class="btn btn-primary" 
            ng-click="SearchGroup()" ng-i18next="common.search"></button></td>
           
          </tr>
        </table>
      </div>
     
    </div>
  </div>
</div>
<!--/Submenu end -->

<div class="container">
 <div class="alert alert-success hideEle saveMsg" role="alert" id="saveMsg">
        <strong>Saved successfully !</strong>  
      </div>
      </div>
 
  <div class="container">
  
    <div style="margin-bottom:10px;"><a class="btn btn-default create-group" ng-click="newGroup()" role="button" ng-i18next="group.create"></a></div>
    
    <div  class="gridtableGroup" ng-grid="gridOptions"> 
     
      <!--Workspace data display's here...-->
    </div>
 
  <!--/content start--> 
  
  <!--/content end--> 
  
</div>
<!-- /.container --> 

 
 