<div fxLayout="row" fxLayoutAlign="center start">

  <div fxFlex="90">
    <md-tab-group [selectedIndex]="currentIndex" *ngIf="isPaused" (selectChange)="showActionContainer($event)">
      <md-tab label="Tags"></md-tab>
      <md-tab label="Links"></md-tab>
      <md-tab label="Sketch"></md-tab>
      <md-tab label="Annotation"></md-tab>
      <md-tab label="Question"></md-tab>
      <md-tab label="Whiteboard"></md-tab>
      <md-tab label="Hotspot"></md-tab>
    </md-tab-group>
  </div>
</div>

<div class="marginleft30">
  <div fxLayout="row" fxLayout.xs="column">
    <!--player starts-->
    <div fxFlex class="margintop20">
      <vis-player editable="true" [editable]="isEditMode" [isPaused]="isPaused" [playerWidth]="playerWidth" (onPauseVideo)="onPauseEvent($event)" (onResumeVideo)="onResumeEvent($event)"></vis-player>
    </div>
    <!--player ends-->
    <!--Tools panel container starts-->
    <div class="toolsContainer" *ngIf="isPaused">
      <ng-template [ngIf]="currentAction.name === 'Tags'">
        <vis-actions-tags></vis-actions-tags>
      </ng-template>
      <ng-template [ngIf]="currentAction.name === 'Links'">
        <vis-actions-links></vis-actions-links>
      </ng-template>
      <ng-template [ngIf]="currentAction.name === 'Sketch'">
        <vis-actions-sketch [pausedTime]="pausedTime" ></vis-actions-sketch>
      </ng-template>
      <ng-template [ngIf]="currentAction.name === 'Annotation'">
        <vis-actions-annotation [pausedTime]="pausedTime" ></vis-actions-annotation>
      </ng-template>

      <ng-template [ngIf]="currentAction.name === 'Whiteboard'">
        <vis-actions-whiteboard [pausedTime]="pausedTime" ></vis-actions-whiteboard>
      </ng-template>
      <ng-template [ngIf]="currentAction.name === 'Questions'">
        <vis-actions-question></vis-actions-question>
      </ng-template>
      <ng-template [ngIf]="currentAction.name === 'Hotspost'">
        <vis-actions-hotspot [pausedTime]="pausedTime" ></vis-actions-hotspot>
      </ng-template>
    </div>
    <!--Tools panel container ends-->
  </div>

  <!--Expansion panel starts-->
  <div *ngIf="isPaused" fxLayout="column" class="expansion_panel">
    <div class="lableaction"  *ngIf="actionsList?.length > 0">Current Actions: </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex class="margintop20">
        <md-accordion class="expander-headers-align expansion_panel">
          <md-expansion-panel #expPanel *ngFor="let actions of actionsList; let i = index">
            <md-expansion-panel-header>
              <md-panel-title id='headerActionTimeLabel{{i}}'>
                <span *ngIf="i!=editorIndex">{{ getTimeinFormat(actions.currentTime)}}</span>
                <span [ngSwitch]="editorIndex">
                  <input *ngSwitchCase="i" class="smalltextbox" (keypress)="onActionTimeChange($event)" (click)="disbleExpansion($event)" id='headerActionTimeTextBox{{i}}'
                    type="text" value="{{ getTimeinFormat(actions.currentTime)}}" />
                </span>
                <span [ngSwitch]="editorIndex">
                  <md-icon *ngSwitchCase="i" (click)="saveActionTime(actions.currentTime,i,$event)">save</md-icon>
                </span>
                <md-icon class='pr40' *ngIf="i!=editorIndex" (click)="editActionTime(i,actions.currentTime,$event)">edit</md-icon>
              </md-panel-title>
              <md-panel-description>
                <md-icon (click)="deleteActionList(actions.currentTime,$event)">delete</md-icon>
              </md-panel-description>
            </md-expansion-panel-header>
            <span *ngFor="let action of actions.listAction">
              <md-divider inset=""></md-divider>
              <div fxLayout="row">
                <div fxFlex="90">
                  <p class="customroboto">{{action.type}} </p>
                </div>
                <p class="customroboto"> {{ getTimeinFormat(action.data.StartTime)}}</p>
                <md-icon class="actionsbtn" (click)="editActions(action.type ,action.data.StartTime,actions.currentTime)">edit</md-icon>
                <md-icon class="actionsbtn" (click)="deleteAction(action.type ,action.data.StartTime,actions.currentTime)">delete</md-icon>
              </div>
            </span>
          </md-expansion-panel>
        </md-accordion>
      </div>
      <div class="toolsContainer"></div>
    </div>
  </div>
  <!--Expansion panel ends-->
</div>