<div id="annotate" class="margin20">
  <div fxLayout="column">
    <form [formGroup]="Form">
      <md-input-container class="full-width">
        <input mdInput class="form-control" formControlName="annotationtitle" placeholder="Title" [(ngModel)]='annotationtitle'>
      </md-input-container>

      <div *ngIf="Form.controls['annotationtitle'].errors?.maxlength; else title">
        <md-error class="max-error-msg">Maximum characters 255 is allowed.</md-error>
      </div>

      <ng-template #title>
        <md-error  *ngIf="!Form.get('annotationtitle').valid && submitted" [ngStyle]="{'color': 'red'}" class="help-block" i18n>* Title can't be empty.</md-error>
      </ng-template>

      <div>
        <md-input-container>
          <input mdInput class="form-control" min="1" max="{{ maxDuration }}" step="1" placeholder="Duration" formControlName="duration"
            type="number" (ngModelChange)="onDurationChange($event)" [(ngModel)]='duration'>
        </md-input-container>
        <md-error  *ngIf="ismaxDurationReached" [ngStyle]="{'color': 'red'}" class="help-block" i18n>The action can only be upto {{restDurationValue}} seconds</md-error>
        <ng-container *ngIf="Form.controls['duration'].errors?.min; else valid">
          <md-error class="max-error-msg">* Duration should be atleast 1 sec.</md-error>
        </ng-container>
        <ng-template #valid>
          <ng-container *ngIf="Form.controls['duration'].errors?.number || !Form.get('duration').valid && submitted">
            <md-error class="max-error-msg">* Please enter valid duration in seconds</md-error>
          </ng-container>
        </ng-template>
      </div>

      <div>
        <label>
          <input type="checkbox" name="pauseOnshow" formControlName="pauseOnshow" [(ngModel)]="pauseOnshow">
          <span class="labelrobota">Pause on show
          </span>
        </label>
      </div>
      <div class="mat-input-infix">
        <textarea name="" cols="" rows="4" id="cmtDesc" formControlName="description" class="modal-textfield" style="width: 90%"></textarea>
      </div>
      <div fxLayout="row">
        <div>
          <button md-raised-button (click)="previewAnnotation();" color="primary" i18n>Preview</button>
        </div>
        <div fxFlex>
        </div>
        <div>
          <button md-raised-button color="primary" (click)="onSave(Form.valid)" type="submit" i18n>Save</button>
          <button md-raised-button color="primary" (click)="cancel()" i18n>Cancel</button>
        </div>
      </div>


    </form>
  </div>
</div>